<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap Order Details Table with Search Filter</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>

<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-4">
              <h2>Task <b>Details</b></h2>
            </div>
            <div class="col-sm-8">
              <a href="#" class="btn btn-primary"><i class="material-icons">&#xE863;</i> <span>Refresh List</span></a>
              <!-- <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Add Employee</span></a> -->
              <button type="button" (click)="openModal()" class=" btn btn-secondary" data-toggle="modal"
                data-target="#exampleModal">
                Add Task
              </button>
            </div>
</div></div>
          </div>
        </div>
        <div class="table-filter">
          <div class="row">

            <div class="col-sm-9">
                <button type="button" class="btn btn-primary"><i
                        class="fa fa-search"></i></button>
                <div class="filter-group">
                    <label> Search by</label>
                    <!-- (change)="changeChoice($event)" -->
                    <form>
                        <!-- <select name="search" id="search" formControlName="choiceName">
                            <option *ngFor="let choice of choices" [ngValue]="choice">{{choice}}</option>
                        </select> -->
                        <input type="text" class="form-control" formControlName="choiceValue">

                        <!-- error block -->
                        <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName.errors?.required">
        <sup>*</sup>Please enter your city name
     </div> -->
                    </form>
                </div>
                <!-- <div class="filter-group">
                    <label>Location</label>
                    <select class="form-control">
                        <option>All</option>
                        <option>Berlin</option>
                        <option>London</option>
                        <option>Madrid</option>
                        <option>New York</option>
                        <option>Paris</option>
                    </select>
                </div> -->

                <!-- <span class="filter-icon"><i class="fa fa-filter"></i></span> -->
            </div>
        </div>
    </div>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Task ID</th>
              <th> <a >Task Name <i class="fa fa-sort"></i></a></th>
              <th><a > Task Description</a></th>
              <th><a > Task Status <i class="fa fa-sort"></i></a></th>
              <th><a >Person Name<i class="fa fa-sort"></i></a></th>
              <th><a >Employe Name <i class="fa fa-sort"></i></a></th>
              <th><a >Module Name <i class="fa fa-sort"></i></a></th>
              <th><a >Created At<i class="fa fa-sort"></i></a></th>
              <th> Actions</th>
            </tr>
          </thead>
          <tbody >

            <tr *ngFor="let task of tasks">
              <td>{{task.emp_id}}</td>
              <!-- <td>{{employee.person.first_name}}</td>
              <td>{{employee.person.last_name}}</td>
              <td>{{employee.designation}}</td>
              <td>{{employee.address.city}}</td> -->
              <td> <a class="edit" title="Edit" data-toggle="tooltip"
                  (click)="openModalEdit(task.emp_id,
                  editForm)"><i
                    class="material-icons">&#xE254;</i></a>
                <!-- <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteEmployee(employee.emp_id)"><i
                    class="material-icons">&#xE872;</i></a> -->
              </td>
            </tr>



          </tbody>
        </table>







        <!-- <div class="clearfix">
          <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
          <ul class="pagination" >
            <li class="page-item disabled" ><a href="#">Previous</a></li>
            <li class="page-item "><a class="page-link" (click)="page(1)" >1</a></li>
            <li class="page-item"><a class="page-link" (click)="page(2)" >2</a></li>
            <li class="page-item"><a  class="page-link" (click)="page(3)">3</a></li>
            <li class="page-item "><a (click)="page(4)" class="page-link">4</a></li>
            <li class="page-item"><a (click)="page(5)" class="page-link">Next</a></li>
          </ul>
        </div> -->
      </div>


  <!-- Add Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="exampleModal" [ngStyle]="{'display':displayTask}">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter Address Details</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!-- <p>Model body text</p> -->
          <form [formGroup]="addForm" (ngSubmit)="addEmployee()">
            <!-- (ngSubmit)="addEmployee(employeeForm.value) -->

            <div class="form-group">
              <label for="name">First Name
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="first_name"  aria-describedby="emailHelp"
              formControlName="first_name"   placeholder="First Name" name="first_name">
            </div>

            <div class="form-group">
              <label for="name">Last Name
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="last_name"  aria-describedby="emailHelp"
              formControlName="last_name"     placeholder="Last Name" name="last_name">
            </div>

            <div class="form-group">
              <label for="name">Gender
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="gender"  aria-describedby="emailHelp"
              formControlName="gender"   placeholder="Gender" name="gender">
            </div>

            <div class="form-group">
              <label for="name">Date Of Birth
                <span class="required-asterisk">*</span>
            </label>
              <input type="date" class="form-control" id="date_of_birth"  aria-describedby="emailHelp"
              formControlName="date_of_birth"     placeholder="Date of Birth" name="date_of_birth">
            </div>

            <div class="form-group">
              <label for="name">Email
                <span class="required-asterisk">*</span>
            </label>
              <input type="email" class="form-control" id="email"  aria-describedby="emailHelp"
              formControlName="email"   placeholder="Enter email" name="email">
            </div>

            <div class="form-group">
              <label for="name">Contact No.
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="contact_no"  aria-describedby="emailHelp"
              formControlName="contact_no"   placeholder="Enter phone" name="contact_no">
            </div>

            <div class="form-group">
              <label for="name">Designation
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control"  id="designation"  placeholder="Designation"
              formControlName="designation"   name="designation">
            </div>

            <div class="form-group">
              <label for="name">Address Line 1  <span class="required-asterisk">*</span> </label>
              <input type="text" class="form-control" id="add_line_1"  aria-describedby="emailHelp"
              formControlName="add_line_1" placeholder="Address line 1" name="add_line_1">
            </div>

            <div class="form-group">
              <label for="name">Address Line 2
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="add_line_2"  aria-describedby="emailHelp"
              formControlName="add_line_2"  placeholder="Address Line 2" name="add_line_2">
            </div>

            <div class="form-group">
              <label for="name">City
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="city"  aria-describedby="emailHelp" placeholder="city"
              formControlName="city"   name="city">
            </div>

            <div class="form-group">
              <label for="name">Zipcode
                <span class="required-asterisk">*</span>
            </label>
              <input type="number" class="form-control" id="zipcode"  aria-describedby="emailHelp"
              formControlName="zipcode"    placeholder="Zipcode" name="zipcode">
            </div>

            <div class="form-group">
              <label for="name">State
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="state"  aria-describedby="emailHelp"
              formControlName="state"   placeholder="State" name="state">
            </div>

            <div class="form-group">
              <label for="name">Country
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="country"  aria-describedby="emailHelp"
              formControlName="country"   placeholder="Country" name="country">
            </div>

            <button type="submit" data-toggle="modal" data-target="#personModal" class="btn btn-primary"
            (click)="addEmployee()">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End address -->



  <!-- edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="exampleModal" [ngStyle]="{'display':displayTask1}">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Employee</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandledEdit()"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!-- <p>Model body text</p> -->
          <form [formGroup]="editForm" (ngSubmit)="editTask1()">
            <div class="form-group">
              <label for="designation">Employee ID</label>
              <input #emp_id type="text" class="form-control"
              formControlName="emp_id" id="emp_id" placeholder="empid" name="emp_id">
            </div>

            <div class="form-group">
              <label for="name">First Name
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="first_name"  aria-describedby="emailHelp"
              formControlName="first_name"   placeholder="First Name" name="first_name">
            </div>

            <div class="form-group">
              <label for="name">Last Name
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="last_name"  aria-describedby="emailHelp"
              formControlName="last_name"     placeholder="Last Name" name="last_name">
            </div>

            <div class="form-group">
              <label for="name">Gender
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="gender"  aria-describedby="emailHelp"
              formControlName="gender"   placeholder="Gender" name="gender">
            </div>

            <div class="form-group">
              <label for="name">Date Of Birth
                <span class="required-asterisk">*</span>
            </label>
              <input type="date" class="form-control" id="date_of_birth"  aria-describedby="emailHelp"
              formControlName="date_of_birth"     placeholder="Date of Birth" name="date_of_birth">
            </div>

            <div class="form-group">
              <label for="name">Email
                <span class="required-asterisk">*</span>
            </label>
              <input type="email" class="form-control" id="email"  aria-describedby="emailHelp"
              formControlName="email"   placeholder="Enter email" name="email">
            </div>

            <div class="form-group">
              <label for="name">Contact No.
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="contact_no"  aria-describedby="emailHelp"
              formControlName="contact_no"   placeholder="Enter phone" name="contact_no">
            </div>

            <div class="form-group">
              <label for="name">Designation
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control"  id="designation"  placeholder="Designation"
              formControlName="designation"   name="designation">
            </div>

            <div class="form-group">
              <label for="name">Address Line 1  <span class="required-asterisk">*</span> </label>
              <input type="text" class="form-control" id="add_line_1"  aria-describedby="emailHelp"
              formControlName="add_line_1" placeholder="Address line 1" name="add_line_1">
            </div>

            <div class="form-group">
              <label for="name">Address Line 2
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="add_line_2"  aria-describedby="emailHelp"
              formControlName="add_line_2"  placeholder="Address Line 2" name="add_line_2">
            </div>

            <div class="form-group">
              <label for="name">City
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="city"  aria-describedby="emailHelp" placeholder="city"
              formControlName="city"   name="city">
            </div>

            <div class="form-group">
              <label for="name">Zipcode
                <span class="required-asterisk">*</span>
            </label>
              <input type="number" class="form-control" id="zipcode"  aria-describedby="emailHelp"
              formControlName="zipcode"    placeholder="Zipcode" name="zipcode">
            </div>

            <div class="form-group">
              <label for="name">State
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="state"  aria-describedby="emailHelp"
              formControlName="state"   placeholder="State" name="state">
            </div>

            <div class="form-group">
              <label for="name">Country
                <span class="required-asterisk">*</span>
            </label>
              <input type="text" class="form-control" id="country"  aria-describedby="emailHelp"
              formControlName="country"   placeholder="Country" name="country">
            </div>
            <button type="submit" data-toggle="modal" data-target="#personModal" class="btn btn-primary"
            (click)="editTask1()">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandledEdit()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end edit Modal -->
</body>

</html>
